/* 
google fonts used in this project
font-family: 'Anton', sans-serif; h1
font-family: 'Dosis', sans-serif; p
font-family: 'Noto Serif', serif; h2
 */

/* css reset */
* {
  box-sizing: border-box;
}

body,
html,
div,
blockquote,
img,
label,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
ul,
ol,
li,
dl,
dt,
dd,
form,
a,
fieldset,
input,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

body {
  line-height: 1.5em;
  font-size: 88%;
  text-align: justify;
  /* padding: 1em; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  padding: 0.6em 0;
  text-transform: uppercase;
}

ul,
ol {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.floatLeft {
  float: left;
  padding: 0.5em 0.5em 0.5em 0;
}

.floatRight {
  float: right;
  padding: 0.5em 0 0.5em 0.5em;
}

/* header section css styles */
.container {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

header {
  background-color: #131200;
  color: #fff;
  width: 100%;
}

header > h1 {
  font-family: "Anton", sans-serif;
  font-size: 1em;
  letter-spacing: 0.2em;
  font-weight: 100;
  padding: 0 0.2em;
}

header p {
  font-family: "Dosis", sans-serif;
  font-weight: 800;
  letter-spacing: 0.1em;
  font-size: 0.9em;
  padding: 0 0 1em 0;
}

h1,
p {
  text-align: center;
}

.text-header {
  margin: 2em 0;
}

/* main section css rules */
section {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.fruit-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  margin: 3em 0;
}

.img-container > span {
  margin: 0.5em 0 0 0;
  width: auto;
  text-align: center;
  display: block;
}

.btn {
  display: inline-block;
  margin: 0.6em 0;
  width: 6em;
  border-radius: 10px;
  color: #000;
  border: 5px solid gold;
  background-color: gold;
  letter-spacing: 0.2em;
  font-family: "Dosis", sans-serif;
  font-weight: bolder;
  font-size: 1.3em;
  font-weight: bolder;
  cursor: pointer;
}

.btn:hover {
  background-color: #5da9e9;
  border: 5px solid #5da9e9;
  color: #eef5db;
}

img {
  width: 100%;
  display: block;
}

.img-container {
  margin: 0 0 1em 0;
}

/* footer section css rules */
footer {
  background-color: #131200;
  width: 100%;
  height: auto;
  color: #fff;
}

footer > ul > li > a > i {
  color: #fff;
  cursor: pointer;
}

footer > ul {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  padding: 0 0 0.6em 0;
}

.follow-us {
  font-family: "Dosis", sans-serif;
  font-weight: 800;
  letter-spacing: 0.1em;
  font-size: 0.3em;
  text-align: center;
  display: block;
  padding: 1em 0;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 320px) {..} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* header section css styles */
  .container {
    width: 100%;
  }

  header h1 {
    font-size: 1.2em;
    letter-spacing: 0.4em;
    font-weight: 900;
  }

  header p {
    font-weight: 800;
    letter-spacing: 0.4em;
    font-size: 1.2em;
  }

  header {
    padding: 0.1em 0;
  }

  /* footer section of css rule */
  footer > ul {
    width: 30%;
  }

  /* main section css rule */
  .fruit-container {
    flex-direction: row;
    /* background-color: red; */
    justify-content: space-between;
  }

  img {
    width: 50%;
    display: inline-block;
  }

  .img-container {
    text-align: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 600px) {
  
} */
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
